.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#logo {
  width: 70px;
  height: 70px;
}

#menu-icon {
  width: 30px;
  height: 30px;
}

#navlogo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

#header-container {
  margin: 10px;
}

#intro-blurb {
 font-family: arial;
 text-align: left;
 font-size: 30px;
 font-weight: 700;
 text-shadow: 1px 1px 3px rgb(255, 255, 255);
}

#blurbsearch-container {
  text-align: left;
  margin: 30px;
}

#searchbar-container {
  display: flex;
  justify-content: center;
}
#search-input {
  width: 350px;
  height: 30px;
  border-radius: 6px;
  border: none;
  background-color: rgba(211, 210, 210, 0.411);
  box-shadow: 4px 5px 4px rgba(246, 245, 245, 0.61);
  background-image: url('https://i.imgur.com/WA3wqnM.png');
  background-size: 25px 25px ;
  background-repeat: no-repeat;
  background-position: right;
  background-origin: content-box;
}

