.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#logo {
  width: 70px;
  height: 70px;
}

#menu-icon {
  width: 30px;
  height: 30px;
}

#navlogo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

#header-container {
  margin: 10px;
}

#intro-blurb {
 font-family: arial;
 text-align: left;
 font-size: 30px;
 font-weight: 700;
 text-shadow: 1px 1px 3px rgb(255, 255, 255);
}

#blurbsearch-container {
  text-align: left;
  margin: 30px;
}

#searchbar-container {
  display: flex;
  justify-content: center;
}
#search-input {
  width: 350px;
  height: 30px;
  border-radius: 6px;
  border: none;
  background-color: rgba(234, 234, 234, 0.411);
  box-shadow: 4px 5px 4px rgba(235, 235, 235, 0.61);
}





.cardsandname-container {
  width: 100%;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  margin: auto 20px;
  padding: 0;
}

.section-title {
  text-align: left;
  margin: 10px 30px;
  font-weight: bold;
}
#textplus-container {
  display: flex;
  flex-direction: row;
  margin: 0 30px;
  position: relative;
    top: 10px;
}
#plus-sign {
  margin-left: 10px;
  background-color: rgb(244, 214, 219);
  padding: 4px 8px;
  border-radius: 7px;
  font-weight: 600;
}

#bucketlist-container {
  display: flex;
  flex-direction: column;
}

#bucketlist-text {
  display: flex;
  align-self: center;
}

.card {
  position: relative;
  width: 100px;
  height: 130px;
  margin: 5px;
  border-radius: 7px;
  list-style-type: none ;
  display: flex;
  justify-content: center;
}

.card-text {
  position: absolute;
  top: 77%;
  font-size: 12px;
  color: white;
  font-weight: bold;
  overflow-x: scroll;
  z-index: 1;
}
