#textplus-container {
  display: flex;
  flex-direction: row;
  margin: 10px 0 10px 30px;
  position: relative;
}
#plus-sign {
  margin-left: 10px;
  background-color: rgb(244, 214, 219);
  padding: 4px 8px;
  border-radius: 7px;
  font-weight: 600;
}
#bucketlist-container {
  display: flex;
  flex-direction: column;
}
#bucketlist-text {
  display: flex;
  align-self: center;
  font-size: 13px;
}
#listcard {
  position: relative;
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.card-img {
  width: 140px;
  height: 180px;
  margin: 8px;
  border-radius: 7px;
}
#bucketlist-text {
  font-weight: bolder;
}
