.cardsandname-container {
  width: 100%;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  margin: auto 20px;
  padding: 0;
  list-style-type: none;
}

.section-title {
  text-align: left;
  margin: 10px 30px;
  font-weight: bold;
  font-size: 13px;
}

.listcard-container {
  position: relative;
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.card-img {
  width: 140px;
  height: 180px;
  margin: 8px;
  border-radius: 7px;
}

.card-text {
  position: absolute;
  top: 77%;
  font-size: 12px;
  color: white;
  font-weight: bold;
  overflow-x: scroll;
  z-index: 1;
} 
