#intro-blurb {
  font-family: arial;
  text-align: left;
  font-size: 30px;
  font-weight: 700;
  text-shadow: 1px 1px 3px rgb(255, 255, 255);
}

#blurbsearch-container {
  margin: 30px;
}

#search-input {
  width: 100%;
  height: 30px;
  border-radius: 6px;
  border: none;
  background-color: rgba(211, 210, 210, 0.411);
  box-shadow: 4px 5px 4px rgba(246, 245, 245, 0.61);
  background-image: url('https://i.imgur.com/WA3wqnM.png');
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: right;
  background-origin: content-box;
}

#searchbar-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  flex-direction: column;
}

.suggested-city {
  margin: 11px auto;
  font-weight: 500;
}

.suggested-city:hover {
  background-color: pink;
  font: arial;
}

.search-panel {
  position: absolute;
  border-radius: 15px;
  text-align: center;
  margin: 234px 30px auto auto;
  background-color: rgba(250, 230, 233, 0.864);
  width: 330px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
