#addbucketform-container {
  display: flex;
  padding: 0;
}

#addbucket-input {
  align-self: center;
  height: 27px;
  border: 1px solid rgb(243, 242, 242);
  background-color: rgb(248, 248, 248);
  text-align: center;
  border-radius: 7px;
  margin: 0 10px;
}

#submit-bucket {
  width: 55px;
  height: 27px;
  align-self: center;
  border: 1px solid #f0eeee;
  background-color: rgb(238 235 235 / 61%);
  border-radius: 7px;
  color: rgb(84, 84, 84);
}

#submit-bucket:hover {
  background-color: rgba(236, 175, 185, 0.5);
}