#destinationpage-container {
  margin: 0;
  /* background-image: url(https://i.imgur.com/kcm7btt.png); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;
  width: 100vw;
  height: 100vh;
  /* background: linear-gradient(to top,rgba(235, 79, 131, 0.244), rgba(244, 154, 169, 0.663), rgba(249, 188, 208, 0.775)); */
}

#toptext-container {
  margin: 35px auto;
}
h1 {
  margin: 0 40px;
  padding: 10px;
  color: white;
  text-align: left;
  font-size: 35px;
  text-shadow: 2px 3px 5px #0000006b;
}

h3 {
  margin:30px 40px;
  padding: 10px;
  text-align: left;
  color: white;
  text-shadow: 1px 3px 7px #0000006b;
}

.details-background {
  background-color: #ebc5b99f;
  height: 350px;
  width: 100%;
  border-radius: 70px;
  position: absolute;
  left: 15%;
  bottom: 9%;
  overflow-x: hidden;
  position: fixed;
}

.country-name {
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  margin: 58px 0 0 50px;
}
.state-name {
  color: white;
  font-weight: bold;
  font-size: 30px;
  text-align: left;
  margin: 20px 0 0 50px;
}
.bucketlist-name {
  color: white;
  font-weight: bold;
  font-size:18px;
  text-align: left;
  margin: 40px 0 0 50px;
}
