* {
  margin: 0;
  padding: 0;
}
#bgc {
  background-image: url("https://media.architecturaldigest.com/photos/5b8707a9a9a1d736ef93a1c7/master/w_1920%2Cc_limit/GettyImages-464320263.jpg");
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  color: white;
}
.intro,
.over {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.intro {
  margin-top: 400px;
  margin-left: -200px;
  align-content: start;
}
.intro h1 {
  opacity: 0.5;
  font-weight: 800;
  font-size: 38px;
  line-height: 45px;
}
.intro p {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}
.logbtn {
  background-color: rgb(240, 240, 240, 0.4);
  width: 82px;
  height: 32px;
  margin-top: 100px;
  margin-left: 40%;
  padding: 5px 20px;
  border-radius: 6px;
}
#reg {
  color: white;
  font-size: 13px;
}
