#bgc {
  background-image: url("https://media.architecturaldigest.com/photos/5b8707a9a9a1d736ef93a1c7/master/w_1920%2Cc_limit/GettyImages-464320263.jpg");
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  color: white;
}
/* .intro,
.over {
  display: flex;
  flex-direction: column;
  padding: 5px;
} */

.intro {
  display: flex;
  text-align: left;
  flex-direction: column;
  position: relative;
  top: 10%;
}

.intro-name {
  margin: 500px 0 20px 30px;
  font-size: 60px;
  padding: 0;
}

.landing-blurb {
  margin-left: 30px;
  font-size: 25px;
}

.over {
  display: flex;
  flex-direction: column;
  margin: 100px;
}


/* .intro {
  margin-top: 400px;
  margin-left: -200px;
  align-content: start;
} */
/* .intro h1 {
  opacity: 0.5;
  font-weight: 800;
  font-size: 38px;
  line-height: 45px;
} */
/* .intro p {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
} */

.logbtn {
  background-color: rgb(240, 240, 240, 0.4);
  width: 100px;
  height: 50px;
  margin-top: 100px;
  padding: 5px 20px;
  border-radius: 6px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

#reg {
  color: white;
  font-size: 13px;
  margin-top: 15px;
  font-size: 18px;
}
