.bgc {
  background-image: url("https://media.architecturaldigest.com/photos/5b8707a9a9a1d736ef93a1c7/master/w_1920%2Cc_limit/GettyImages-464320263.jpg");
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
}

.card {
  background: rgb(255, 253, 253, 0.5);
  width: 330px;
  height: 270px;
  border-radius: 16px;
  margin-top: 300px;
}

.registerform-card {
  background: rgb(255, 253, 253, 0.5);
  width: 330px;
  height: 360px;
  border-radius: 16px;
  margin-top: 300px;
}

.info {
  margin-top: 33px;
  padding: 30px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.ml {
  margin-left: 10px;
}
.login-btn,
.register-btn {
  padding: 10px;
  width: 100px;
  border-radius: 4px;
  border: none;
  background-color: rgba(255, 255, 255, 0.355);
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.login-url {
  color: white;
}

.login-text {
  margin-top: 14px;
}

.pd-t {
  padding-top: 20px;
}

.login-input {
  margin: 10px;
  height: 35px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 14px;
}
